.footer {
  text-decoration: none;
  background: var(--background-color-dark);
  padding: 60px 0;
}
.futer-container {
  display: flex;
}
.futer-adress-container {
  margin-right: 70px;
}

.link-adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--text-color-white);
  display: block;
}

.footer-contacts {
  list-style: none;
}
.footer-contacts-list:not(:last-child) {
  margin-bottom: 9px;
}
.footer-contacts-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  display: block;
}

.footer-join-us-container {
  margin-top: 12px;
}
.join-us-list {
  display: flex;
}
.join-us-list-item {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.subscribe-container {
  position: relative;
  margin-top: 12px;
  margin-left: 93px;
}
.subscribe-form {
  display: flex;
}
.subscribe-field-text {
  position: relative;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--background-color-dark);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;

  &:focus {
    outline: none;
    border: 1px solid rgba(33, 150, 243, 1);
  }
}
