.header {
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &::after {
    content: "";
    display: block;
    max-width: 1600px;
    height: 1px;
    background-color: #ececec;
    margin: 0;
    margin-top: 0px;
  }
}
.burger-btn {
  background-color: transparent;
  border: none;
  padding: 0px;

  &__icon {
    width: 40px;
    height: 40px;
    line-height: 0px;
  }
}
.burger-btn:hover,
.burger-btn:focus {
  fill: var(--text-color-hover);
}
