.header {
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;

  &::after {
    content: "";
    display: block;
    max-width: 1600px;
    height: 1px;
    background-color: #ececec;
    margin: 0;
    margin-top: 0px;
  }
}
