.navigation {
  display: flex;
}

.logoWebBlue {
  color: var(--text-color-hover);
}

.menu {
  display: none;
  margin-left: auto;
}

.menu__current-page-list:not(:last-child) {
  margin-right: 50px;
}

.menu__current-page {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  list-style: none;
  color: var(--text-color-hover);
  text-shadow: 0px 4px 4px var(--shadow-color-grey);
  position: relative;
  display: block;
  padding: 32px 0px 0px 0px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    margin-top: 33px;
    border-radius: 2px;
    background-color: var(--background-color-blue);
  }
}

.menu__list:not(:last-child) {
  margin-right: 50px;
}

.contact-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.contact-icon {
  fill: var(--text-color-grey);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;

  .menu__contact-link:hover &,
  .menu__contact-link:focus & {
    fill: var(--text-color-hover);
  }
}
