//MODAL WINDOW
.order-btn {
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  cursor: pointer;
  color: var(--text-color-white);
  background: var(--background-color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;

  &:hover,
  &:focus {
    background-color: var(--text-color-hover);
  }
}
.send-btn {
  display: flex;
  padding: 10px 55px;
  margin: 0px auto;
  bottom: 0px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  color: var(--text-color-white);
  background: var(--background-color-blue);
  border-radius: 4px;
  border: none;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;

  &:hover,
  &:focus {
    background-color: var(--text-color-hover);
  }
}
//PORTFOLIO BUTTONS LIST
.type-selection-btn {
  display: inline-block;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-main);
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  cursor: pointer;

  transition-property: color background-color box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;

  &:hover,
  &:focus {
    color: var(--text-color-white);
    background-color: var(--text-color-hover);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

//FOOTER
.subscribe-btn {
  display: flex;
  align-items: center;
  margin-left: 12px;
  padding: 10px 55px 10px 30px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  color: var(--text-color-white);
  background: var(--background-color-blue);
  border-radius: 4px;
  border: none;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}
.send-btn,
.subscribe-btn:hover,
.send-btn,
.subscribe-btn:focus {
  background-color: var(--text-color-hover);
}
