//MODAL WINDOW
.modal-field-icon {
  position: absolute;
  display: block;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--text-color-logo-);
  background-color: rgba(255, 255, 255, 0.1);

  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;

  &:focus {
    fill: var(--text-color-hover);
  }
}

//FOOTER
.subscribe-icon {
  display: block;
  right: 15px;
  bottom: 15px;
  margin-left: 10px;
  fill: var(--text-color-white);
}
