.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: -30px;
  margin-left: -30px;
}

//CLIENT
.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
  background-position: center;
}
