.logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: var(--text-color-logo-dark);
  padding: 24px 0px 25px;
  margin-right: 93px;
}

.logo-futer {
  display: block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  letter-spacing: 0.03em;
  line-height: 1.19;
  color: var(--text-color-white);
  margin-bottom: 20px;
}
