.features-section-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  list-style: none;
  color: var(--text-color-main);
  margin-bottom: 10px;
}
.what-we-do-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-main);
  margin-bottom: 50px;
}
.our-team-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-main);
  margin-bottom: 50px;
}
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--text-color-main);
  margin-bottom: 50px;
}
.join-us-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-color-white);
  margin-bottom: 20px;
}
.subscribe-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-color-white);
  margin-bottom: 20px;
}
