:root {
  --text-color-logo-dark: #000000;
  --text-color-hover: #188ce8;
  --shadow-color-grey: #e8e8e8;
  --text-color-main: #212121;
  --text-color-white: #ffffff;
  --text-color-grey: #757575;
  --background-color-main: #ffffff;
  --background-color-dark: #2f303a;
  --background-color-gray: #f5f4fa;
  --background-color-blue: #2196f3;
}
